<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>


</head>
<body>
<div class="main">
<form method="post" th:object="${post}">
    <div class="form-group">
        <label th:for="description">Post</label>
        <textarea class="form-control" th:field="*{description}" />
<!--        <span th:errors="{description}" class="error"></span>-->
    </div>

    <input type="submit" value="Add Post" />
</form>
</div>

<select>
    <option value="nintendo switch">Nintendo Switch</option>
    <option value="playstation 4">Playstation 4</option>
    <option value="xbox one">XBox One</option>
    <option value="pc">PC</option>
</select>

</body>
</html>